body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 0, 0);
}

.white{
    color:white;
}

.date-picker{
    padding:0.4rem 2rem;
    width: 280px;
    height:30px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    cursor: pointer;
    margin-bottom:0.5rem;
}

.background{
    display: grid;
    grid-auto-flow: column;
    padding:0 2rem;
    gap: 2rem;
    height:auto;
    margin: auto;
    background-color: #2b2b2b;
    border-radius: 12px;
}

.wrapper{
    display: grid;
    place-items: center;
}

.test{
    position: relative;
}

.maaneder{
    max-width:280px;
    display: grid;
    margin-left: 1rem;
    grid-template-columns: repeat(12,1fr);
    gap:0;
    overflow-x: scroll;
    margin-bottom:0.7rem;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.weekdays{
    display: grid;
    grid-template-columns: repeat(7,40px);
    gap:0;
}

.midtstill{
    display: grid;
    place-items: center;
    margin: 0.5rem 0;
}

.rutenett{
    height: 100%;
    display:grid;
    grid-template-rows: repeat(6,40px);
    grid-template-columns: repeat(7,40px);

}

.contentContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,40px);
    grid-template-rows: repeat(6,40px);
    top:0;
    left:0;
}

.brikke{
    display: grid;
    place-items: center;
}

.arrowBtn{
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 25px;
    color: rgb(170, 170, 170);
}

.btn{
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: none;
    outline: 0;
    padding:0.5rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.hover:hover{
    
    border: 2px solid#e923518a;
    border-radius: 50%;
}

.hover2:hover{
    font-size: 18px;
    font-weight: medium;
}

h2{
    text-align: center;
    padding: 0 2rem;
    font-size: 22px;
}


.font15{
    font-size: 13px;
    cursor: pointer;
}

.font12{
    font-size: 12px;
    cursor: pointer;
}

.font25{
    font-size: 20px;
    cursor: pointer;
}

.display{
    display: flex;  
    place-items: center;
}

.display-wrapper{
    display: grid;
    place-items: center;
}


.active{
    color: black;
    font-weight: bold;
    font-size: medium;
}

.none{
    display: none
}


strong{

    font-size: 14px;
}

.grey{
    color: rgb(170, 170, 170);
}

.day-active{

    background-color:#e92350;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 50%;
}

.small{
    color:rgb(145, 145, 145);
    
}

@media only screen and (max-width: 720px) {
    .main-wrapper{
        transform: scale(0.75);
    }
}


@media only screen and (max-width: 530px) {
    .main-wrapper{
        transform: scale(0.65);
    }
}

@media only screen and (max-width: 480px) {
    .background{
        grid-auto-flow: row;
        gap:2rem;
    }
}
